<html>
    <body>
        <div class="login">
            <h1>Student Exam Performance Indicator</h1>

            <form action="{{url_for('predict_datapoint')}}" method="post">
                <h1>
                    <legend>Student Exam Performance Prediction</legend>
                </h1>
                <!-- input variable: Gender -->
                <div class="mb-3">
                    <label class="form-class">Gender</label>
                    <select class="form-control" name="gender" placeholder="Enter your Gender" required>
                        <option class="placeholder" selected disabled value="">Select your Gender</option>
                        <option value="male">
                            Male
                        </option>
                        <option value="female">
                            Female
                        </option>
                    </select>
                </div>

                <!-- input variable: Ethnicity -->
                <div class="mb-3">
                    <label class="form-label">Race or Ethnicity</label>
                    <select class="form-control" name="ethnicity" placeholder="Enter your Ethnicity" required>
                        <option class="placeholder" selected disabled value="">Select your Ethnicity</option>
                        <option value="group A">
                            Group A
                        </option>
                        <option value="group B">
                            Group B
                        </option>
                        <option value="group C">
                            Group C
                        </option>
                        <option value="group D">
                            Group D
                        </option>
                        <option value="group E">
                            Group E
                        </option>
                    </select>
                </div>
                
                <!-- input variable: parental level of eduction -->
                <div class="mb-3">
                    <label class="form-label">Parental level of Education</label>
                    <select class="form-control" name="parental_level_of_education" placeholder="Enter your Parent Education" required>
                        <option class="placeholder" selected disabled value="">Select Parents Education</option>
                        <option value="associate's degree">
                            associate's degree
                        </option>
                        <option value="master's degree">
                            master's degree
                        </option>
                        <option value="bachelor's degree">
                            bachelor's degree
                        </option>
                        <option value="high school">
                            high school
                        </option>
                        <option value="some high school">
                            some high school
                        </option>
                        <option value="some college">
                            some college
                        </option>
                    </select>
                </div>
                
                <!-- input variable: lunch -->
                <div class="mb-3">
                    <!-- # label for user -->
                    <label class="form-class">Lunch</label>
                    
                    <select class="form-control" name="lunch" placeholder="Enter lunch" required>
                        <!-- place holder -->
                        <option class="placeholder" selected disabled value="">Select Lunch</option>
                        <!-- option 1 -->
                        <option value="standard">
                            standard
                        </option>
                        <!-- option 2s -->
                        <option value="free/reduced">
                            free/reduced
                        </option>
                    </select>
                </div>

                <!-- input variable: test preparation course-->
                <div class="mb-3">
                    <label class="form-label">Test preparation Course</label>
                    <select class="form-control" name="test_preparation_course" placeholder="Enter you Course"
                        required>
                        <option class="placeholder" selected disabled value="">Select Test_course</option>
                        <option value="none">
                            None
                        </option>
                        <option value="completed">
                            Completed
                        </option>
                    </select>
                </div>

                <!-- input variable: reading_score-->
                <div class="mb-3">
                    <label class="form-label">Writing Score out of 100</label>
                    <input class="form-control" type="number" name="writing_score" placeholder="Enter your Reading score" min="0" max="100" />
                </div>

                <!-- input variable: writing_score -->
                <div class="mb-3">
                    <label class="form-control">Reading Score out of 100</label>
                    <input class="form-control" type="number" name="reading_score" placeholder="Enter your Reading Score" min="0" max="100" />
                </div>

                <!-- predict button -->
                 <div>
                    <input class="btn btn-primary" type="submit" value="Predict your Maths Score" required />
                 </div>

            </form>
            <h2>
                The Prediction is {{results}}
            </h2>
        </div>
    </body>
</html>